body{
    background-color: bisque;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}


h1{
    color: darkolivegreen;
    border: 2px black solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h3{
    color: darkolivegreen;
    padding-top: 6px;
    padding-left: 8px;
    padding-bottom: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}