#gallery img {
height: 20vh;
width: 20vh;
object-fit: cover;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 248, 248);
}

/* Media Query */

@media screen and (max-width: 768px) {
    #gallery{
        grid-template-columns: 1fr;
    }
    #gallery img{
        width: 100%;
        height: auto;
    }
}
nav {
    background-color: rgb(229, 253, 229);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: rgb(218, 218, 249);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}