.site-hero{
    height: 80vh;
    background-image: url("../assets/f1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    color: #e1a177;
    font-family: "Bebas Neue";
    font-style: italic;
    text-align: center;
}
.hero-text h1{
    font-size: 5em;
}